
/*------------------------------------*\
    # COLORS
\*------------------------------------*/

$color-white: #FFFFFF;
$color-black: #000000;
$color-black-fogra: #00171F;
$color-prussian-blue: #003459;
$color-cg-blue: #007EA7;
$color-carolina-blue: #00A8E8;

/*------------------------------------*\
    # FONTS
\*------------------------------------*/

$font-overpass: 'Overpass', Helvetica, Arial, sans-serif;
$font-montserrat: 'Montserrat', Helvetica, Arial, sans-serif;
$font-roboto: 'Roboto', Helvetica, Arial, sans-serif;
