/*------------------ SOCIAL ICON STYLES ------------------*/
.fa-envelope:hover {
	color: #d44638 !important;
	scale: 1.1;
	transition: all .3s ease;
}
.fa-github:hover {
	color: #6e5494 !important;
	scale: 1.1;
	transition: all .3s ease;
}
.fa-instagram:hover {
	color: #c13584 !important;
	scale: 1.1;
	transition: all .3s ease;
}
.fa-twitter:hover {
	color: #1da1f2 !important;
	scale: 1.1;
	transition: all .3s ease;
}
.fa-spotify:hover {
	color: #1DB954 !important;
	scale: 1.1;
	transition: all .3s ease;
}
.fa-twitch:hover {
	color: #6441A4 !important;
	scale: 1.1;
	transition: all .3s ease;
}
/*------------------ END SOCIAL ICON STYLES ------------------*/